*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  overscroll-behavior: none;
}

body {
  background: #08111f;
  color: #cde4f7;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
}
